@media (min-width: 0px) and (max-width: 991.98px) {
  .navbar-nav.left {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .navbar-nav .nav-item {
    margin-right: 1rem;
  }

  .navbar-nav .nav-item:first-child {
    margin-right: 0;
  }
  .search {
    display: none;
  }
  .container-input {
    display: block;
  }
  .product-discount .present-off {
    position: absolute;
    width: 6vh;
    height: 8vh;
    top: -0.3vh;
    right: 0.5vh;
    background-color: var(--bg-color);
    color: #fff;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 73%, 0 100%, 0 0);
  }
  .product-discount .present-off .fa-numbers {
    font-size: 0.9rem;
  }
  .product .card img {
    width: 15vh;
    height: 15vh;
  }
  .col-card .h5 {
    font-size: 0.8rem;
  }
  .text-blog {
    font-size: 0.75rem;
  }
  .right-filter img {
    width: 12vh;
    height: 15vh;
  }
  .text-explain {
    font-size: 0.7rem;
  }
  .price span,
  .price s {
    font-size: 0.8rem;
  }
  .card button {
    font-size: 0.6rem;
  }
  .input input {
    font-size: 0.75rem;
  }
  .swiper-slide .text-secondary {
    font-size: 0.8rem !important;
  }
  .swiper-slide button {
    font-size: 0.8rem;
  }
  .card .text-secondary {
    font-size: 0.5rem !important;
  }
  .right-filter img {
    width: 17vh;
    height: 23vh;
  }
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (min-width: 991px) {
  .container-input {
    display: none;
  }
  .search {
    display: flex;
  }
  .spec-store {
    width: 60% !important;
  }
  .shop-store {
    width: 36% !important;
  }
  .right-dashboard {
    width: 25% !important;
  }
  .left-dashboard {
    width: 73% !important;
  }
  .right-filter {
    width: 73% !important;
  }
}
/* موبایل‌های کوچک (کمتر از 576 پیکسل) */

@media (max-width: 360px) {
  #header img {
    height: 30vh;
  }
  .product .card img {
    width: 12vh;
    height: 12vh;
  }
  .product svg {
    width: 50px;
    height: 50px;
  }
  .product-discount .swiper-slide img,
  #product-slide2 .swiper-slide img {
    width: 12vh;
    height: 16vh;
  }
  .product-discount .swiper-slide {
    font-size: 2.3vh;
  }
  .product-discount .swiper-slide .price {
    font-size: 3.1vh;
    margin-bottom: 1vh;
  }
  .timer-discount .subject {
    font-size: 3vh;
    text-align: center;
  }
  .timer-discount .countdown-card {
    font-size: 2.1vh;
  }
  .timer-discount .timer {
    font-size: 2.7vh;
  }
  .timer-discount button {
    font-size: 0.6rem;
  }
  #product-slide2 button {
    font-size: 0.7rem;
  }
  .brands img {
    width: 10vh;
    height: 7vh;
  }
  .subject {
    font-size: 1rem !important;
  }
  .blog-text button {
    font-size: 0.7rem !important;
  }
  .result-blog {
    font-size: 0.85rem;
  }
  .text-fotter {
    font-size: 1rem;
  }
  .btn-to-top {
    font-size: 0.7rem;
  }
  .justify-text {
    font-size: 0.7rem;
  }
  .bottom-fotter {
    font-size: 0.7rem;
  }
  .phone {
    font-size: 0.9rem;
  }
  .email {
    font-size: 0.7rem;
  }
}
#select {
  font-size: 0.7rem;
}
.picture-about-us img {
  width: 30vh;
  height: 30vh;
}
.picture-about-us .logo-about-us {
  width: 31vh;
  height: 22vh;
}
.like-comments,
.dislike-comments {
  font-size: 0.65rem;
}
@media (min-width: 360px) and (max-width: 480px) {
  #header img {
    height: 40vh;
  }
  .product-discount .swiper-slide img,
  #product-slide2 .swiper-slide img {
    width: 12vh;
    height: 16vh;
  }
  .product-discount .swiper-slide {
    font-size: 2.3vh;
  }
  .product-discount .swiper-slide .price {
    font-size: 3.1vh;
    margin-bottom: 1vh;
  }
  .timer-discount .subject {
    font-size: 3vh;
    text-align: center;
  }
  .timer-discount .countdown-card {
    font-size: 2.1vh;
  }
  .timer-discount .timer {
    font-size: 2.7vh;
  }
  .timer-discount button {
    font-size: 0.6rem;
  }
  #product-slide2 button {
    font-size: 0.7rem;
  }
  .brands img {
    width: 10vh;
    height: 7vh;
  }
  .subject {
    font-size: 1rem !important;
  }
  .blog-text button {
    font-size: 0.7rem !important;
  }
  .result-blog {
    font-size: 0.85rem;
  }
  .text-fotter {
    font-size: 1rem;
  }
  .btn-to-top {
    font-size: 0.7rem;
  }
  .justify-text {
    font-size: 0.7rem;
  }
  .bottom-fotter {
    font-size: 0.7rem;
  }
  table {
    font-size: 0.7rem;
  }
  .picture-about-us img {
    width: 30vh;
    height: 30vh;
  }
  .picture-about-us .logo-about-us {
    width: 31vh;
    height: 22vh;
  }
}

/* موبایل‌های متوسط (بین 576px تا 767px) */
@media (min-width: 480px) and (max-width: 767.98px) {
  #header img {
    height: 40vh;
  }

  .product-discount .swiper-slide img,
  #product-slide2 .swiper-slide img {
    width: 16vh;
    height: 20vh;
  }
  .product-discount .swiper-slide img,
  #product-slide2 .swiper-slide img {
    width: 14vh;
    height: 18vh;
  }
  .product-discount .swiper-slide,
  #product-slide2 .swiper-slide {
    font-size: 3vh;
  }
  .product-discount .swiper-slide .price,
  #product-slide2 .swiper-slide .price {
    font-size: 3.1vh;
    margin-bottom: 3vh;
  }
  .timer-discount .subject {
    font-size: 3vh;
    text-align: center;
  }
  .timer-discount .countdown-card {
    font-size: 2.1vh;
  }
  .timer-discount .timer {
    font-size: 2.7vh;
  }

  table {
    font-size: 0.7rem;
  }
  .picture-about-us img {
    width: 44vh;
    height: 44vh;
  }
  .picture-about-us .logo-about-us {
    width: 51vh;
    height: 36vh;
  }
}

/* تبلت‌ها و موبایل‌های بزرگ (بین 768px تا 991px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-discount .swiper-slide img,
  #product-slide2 .swiper-slide img {
    width: 18vh;
    height: 22vh;
  }
  .product-discount .swiper-slide,
  #product-slide2 .swiper-slide {
    font-size: 2.5vh;
  }
  .picture-about-us img {
    width: 61vh;
    height: 61vh;
  }
  .picture-about-us .logo-about-us {
    width: 71vh;
    height: 53vh;
  }
}

/* لپ‌تاپ‌های کوچک (بین 992px تا 1199px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .product-discount .swiper-slide img,
  #product-slide2 .swiper-slide img {
    width: 12vh;
    height: 18vh;
  }
  .product-discount .swiper-slide,
  #product-slide2t .swiper-slide {
    font-size: 3.2vh;
  }
  .text-explain {
    font-size: 0.8rem;
  }
}

/* لپ‌تاپ‌ها و دسکتاپ‌های معمولی (بین 1200px تا 1399px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .product-discount .swiper-slide img,
  #product-slide2 .swiper-slide img {
    width: 16vh;
    height: 22vh;
  }
  .product-discount .swiper-slide,
  #product-slide2 .swiper-slide {
    font-size: 3.3vh;
  }
  .picture-about-us img {
    width: 40vh;
    height: 40vh;
  }
  .picture-about-us .logo-about-us {
    width: 48vh;
    height: 35vh;
  }
}
/* دسکتاپ‌های بزرگ و مانیتورهای بزرگ‌تر (1400 پیکسل به بالا) */
@media (min-width: 1400px) {
  .picture-about-us img {
    width: 40vh;
    height: 40vh;
  }
  .picture-about-us .logo-about-us {
    width: 46vh;
    height: 35vh;
  }
}
